<html>
<head>
 <title>Login</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 <div class="container">
  <div class="page-header">
   <h1>Sign in</h1>
  </div>
  <div class="panel panel-danger">
   <div class="panel-heading">
    <h3 class="panel-title">In order to chat, you must be signed in</h3>
   </div>
   <div class="panel-body">
    <p>Select the service you would like to sign in with:</p>
    <ul>
     <li><a href="/auth/login/google">Google</a></li>
    </ul>
   </div>
  </div>
 </div>
</body>
</html>